<div class="generic-container">
	<div class="modal-header">EDITAR ALBUM</div>

	<div class="modal-body">
		<form name="albumUpdate"  novalidate>
			<div class="form-group"
				ng-class="{ 'has-error' : albumUpdate.alb.$invalid}">
				<label for="usr">Nome:</label>
				<input type="text" name="alb" class="form-control" id="alb" ng-model="albumCopy.name_album"
					ng-minlength="3" ng-maxlength="30" required>
				<p ng-show="albumUpdate.alb.$error.minlength" class="help-block">Conteudo insuficiente!</p>
				<p ng-show="albumUpdate.alb.$error.maxlength" class="help-block">Demasiado conteudo!</p>
			</div>
			<div class="form-group"
				ng-class="{ 'has-error' : albumUpdate.pbs.$invalid}">
				<label for="pbs">Editora:</label>
				<input type="text" name="pbs" class="form-control" id="pbs" ng-model="albumCopy.publisher"
					ng-minlength="3" ng-maxlength="15" required>
				<p ng-show="albumUpdate.pbs.$error.minlength" class="help-block">Conteudo insuficiente!</p>
				<p ng-show="albumUpdate.pbs.$error.maxlength" class="help-block">Demasiado conteudo!</p>
			</div>
			<div class="form-group"
				ng-class="{ 'has-error' : albumUpdate.stl.$invalid}">
				<label for="stl">Estilo:</label>
				<input type="text" name="stl" class="form-control" id="stl" ng-model="albumCopy.style"
					ng-minlength="3" ng-maxlength="15" required>
				<p ng-show="albumUpdate.stl.$error.minlength" class="help-block">Conteudo insuficiente!</p>
				<p ng-show="albumUpdate.stl.$error.maxlength" class="help-block">Demasiado conteudo!</p>
			</div>
			<div class="form-group"
				ng-class="{ 'has-error' : albumUpdate.yea.$invalid}">
				<label for="yea">Ano:</label>
				<input type="text" name="yea" class="form-control" id="yea" ng-pattern="/^[0-9]*$/"
					ng-model="albumCopy.year" ng-minlength="4" ng-maxlength="4"
					required>
				<p ng-show="albumUpdate.yea.$invalid" class="help-block">Ano com quatro digitos!</p>
			</div>
			<div class="form-group">
				<label for="yea">Musicas:</label>
			</div>
			<div class="scrollPane">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th ng-repeat="headermus in header">{{headermus}}</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="m in albumCopy.listOfAlbumMusic">
							<td><span ng-bind="m.name_music"></span></td>
							<td><span ng-bind="m.publisher"></span></td>
							<td><span ng-bind="m.style_music"></span></td>
							<td><span ng-bind="m.year"></span></td>
							<td><span ng-bind="m.duraction"></span></td>
							<td nowrap=nowrap>
								<button ng-click="delalbmus($index)">Apagar</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<button type="submit" ng-click="ok(album)" class="btn btn-primary" ng-disabled="albumUpdate.$invalid">Gravar</button>
				<button class="btn btn-warning" ng-click="cancel()">Cancelar</button>
			</div>
		</form>
	</div>




</div>