<div class="generic-container" ng-controller="AlbumController as ctrl"	
	data-ng-init="getAlbuns()">
	
		<!-- NavBar -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a >Album <span class="sr-only">(current)</span></a></li>
        <li><a ng-click="gotomusic()">Musica</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- navBar end -->

		<button ng-click="gotomusic()">Go to music</button>
	<div class="panel panel-default">
		<!-- Default panel contents -->
		<div class="panel-heading">
			<span class="lead">Lista de Albuns</span>
		</div>
		<div class="panel-heading">
			<label>Ordenar por: </label> <select ng-model="criteria.columnName"
				ng-options="header.value as header.name for header in ctrl.columnsNVP">
			</select> <label> Direcão: </label> <select ng-model="criteria.direction"
				ng-options="dir for dir in ctrl.direction">
			</select> <label> Texto a pesquisar: </label>
			 <input type="text"	ng-model="criteria.textToSearch"></input>
			<button ng-click="orderByField(criteria)">Avançar</button>
		</div>
		<div class="tablecontainer">
			<table ng-table="albunsTable"
				class="table table-bordered table-striped">
				<thead>
					<tr>
						<th ng-repeat="header in ctrl.headers">{{header}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="a in ctrl.albuns">
						<td><span ng-bind="a.name_album	"></span></td>
						<td><span ng-bind="a.publisher"></span></td>
						<td><span ng-bind="a.style"></span></td>
						<td><span ng-bind="a.year"></span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>